<div class="jumbotron" ng-controller="updateController as u" data-ng-init="update_load()">
    <h2 class="text-center">Welcome {{loggedin_username}}</h2>
    <div class="text-center">
        <label for="show_details">Would you want to change your details?</label>
        <button id="show_details" ng-click="showDiv = !showDiv"><i class="fa fa-angle-double-down fa-1x" aria-hidden="true"></i></button>
    </div>
    <div ng-show="showDiv">
      <h2>Update Profile</h2>
      <form>
        <div class="form-group">
          <label for="username">User Name:</label>
          <input type="text" class="form-control" id="username" ng-model="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="text" class="form-control" id="password" ng-model="password" placeholder="Enter password">
        </div>
        <div class="form-group">
          <label for="firstname">First Name:</label>
          <input type="text" class="form-control" id="firstname" ng-model="firstname" placeholder="Enter firstname">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name:</label>
          <input type="text" class="form-control" id="lastname" ng-model="lastname" placeholder="Enter lastname">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" ng-model="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" class="form-control" id="phone" ng-model="phone" placeholder="Enter phone">
        </div>
        <div class="form-group">
          <label for="location">Location:</label>
          <input type="text" class="form-control" id="location" ng-model="location" placeholder="Enter location">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default" ng-click="u.updateDetails()"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
    {{update_error_message}}  
</div>